body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
table{
    width: 50%;
    border-collapse: collapse;
    margin: 50px;
    
}
table,th,td{
    border: 3px solid black;
    text-align: center;
}
th,td{
    padding: 15px;
}
